.newpost {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  gap: 2px;
}

.newpost > .form-data {
  font-size: var(--medium-size);
  background-color: var(--gona-try-now);
  border: 1px solid transparent;
  outline: none;
  color: var(--dont-know);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 2px 2px var(--sun-nigth);
  border-radius: 3px;
  padding: 6px 10px;
  z-index: 1;
}

.newpost > .form-data:focus {
  border: 1px solid var(--moon-light);
}

.custom-textarea {
  resize: none;
  height: 300px;
}

.newpost .send-data {
  background-color: var(--wuw-corsa);
  font-size: var(--small-size);
  color: var(--dont-know);
  border: none;
  width: 150px;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 35px;
  z-index: 1;
}

.newpost .send-data:hover {
  border: 1px solid var(--btn-ntb);
}
