.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
}

.login-page .login-button {
  font-size: var(--small-size);
  z-index: 1;
}
