.navigation-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--small-size);
  height: 38px;
  margin-bottom: 50px;
  background-color: transparent;
  z-index: 2;
  transition: 300ms;
  padding: 5px 0;
}

.active {
  background-color: var(--gona-try);
  backdrop-filter: blur(4px);
}

.navigation-bar .links {
  display: flex;
  gap: 40px;
}

.navigation-bar .links > .link {
  text-decoration: none;
  color: var(--dont-know);
}

.navigation-bar .user-data {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.navigation-bar .user-data > img {
  width: 30px;
  border-radius: 99px;
}
